.image-background{

    background-size: cover ;
    background-position: center ;
    width: 100vw ;
    height: 100vh ;

}

.overlay {

    position: relative ; 
    width: 100% ;
    height: 100% ;
}