.video-background-r {
    position: absolute ; 
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    z-index: -1 ;
    object-fit: cover ; 
    object-position: bottom ; 
}



.overlay-r { 

   display:  flex ;
   color:  rgb(97, 97, 97) ;
   flex-direction: column ;
   justify-content: space-around ;
   align-items: center ;
   width: 100vw ;
   height: 100vh;
   text-align: center ;

}

.overlay-r button { 

    background: none ;
    border: none ; 
    border-radius:  5px ;
    font-size: 15px ;
    cursor:  pointer ;
    padding:  10px 40px ;
     color:  rgb(97, 97, 97) ;
     background-color: white;
}

.overlay-r button:hover { 

    background: rgb(97, 97, 97) ;
    color:  white ;
    transition: all 0.3s ;



}
