.video-background{

    position: fixed ;
    right: 0 ;
    bottom: 0 ; 
    min-width: 100% ;
    min-height: 100% ;
    z-index: -1 ;
}

.overlay-text { 

   display:  flex ;
   flex-direction: column ;
   justify-content: space-around ;
   align-items: center ;
}
