nav .headerList {

    list-style-type: none ;
    display: flex ;
    justify-content: center ;
    padding: 10px ; 
    color: rgba(149, 149, 149, 0.8) ;
}

nav .headerList li {
    
    padding: 8px 15px; 
    cursor: pointer; 
    transition: 0.3s;
    border-radius: 4px; 
    display: flex;
    align-items: center;
    justify-content: center;
}



nav .headerList li:first-of-type {

   font-size: 22px ;

}



nav .headerList li:hover {

    background-color: var(--hover-background) ;
}

nav { 

    position: fixed;
    top: 0 ; 
    right: 0 ; 
    width: 100vw ;
    z-index: 9999;
}