nav .headerList {

    list-style-type: none ;
    display: flex ;
    justify-content: center ;
    padding: 10px ; 
}

nav .headerList li {

    padding: 5px 10px ;
    cursor: pointer ; 
    transition: 0.3s ;
    border-radius: 10% ;

}

nav .headerList li:first-of-type {

   font-size: 22px ;

}



nav .headerList li:hover {

    background-color: var(--hover-background) ;
}