nav.sidebar { 

    position: fixed;
    right: 0 ;
    top: 0 ;
    height: 100vh ;
    width: 400px ;
    z-index: 200 ;
    background-color: white ;
    color: black ;

}

nav.sidebar ul {

    margin-top: 40px ;
    list-style-type: none ;
     
}

nav.sidebar  button {

    position: absolute ;
    top: 0 ; 
    right: 0 ;
    margin: 10px ;
    border: none ;
    border-radius: 50% ;
    cursor: pointer ;
    background: none ;
    font-size:  20px ;
    margin: 8px ;
 
 }

 nav.sidebar  button:hover {

    background-color: var(--hover-background) ;
    transition: 0.3s ease-out ;
    cursor: pointer ;

 }

 nav.sidebar ul li {

    padding: 15px 20px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
    cursor : pointer ;

 }

  nav.sidebar ul li:hover {

    background-color: var(--hover-background);
    padding: 15px 20px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
    cursor : pointer ;


 }